{include file="public/head" /}
<title>登录</title>
<style>
    .login_m h2{ font-size: 30px;padding-top: 40px;}
    #login{width: 100%; height: 52px;}
</style>
</head>

<body>
<div class="login">
	<div class="bg_img"><img src="__STATIC__/admin/images/login_bg.jpg"/></div>
	
    <div class="login_m">
        <h2>后台登录</h2>
    	<ul>
        	<li class="wz">用户名</li>
            <li><input id="username" type="text"></li>
            <li class="wz">密码</li>
            <li><input id="password" type="password"></li>
            <li><button class="btn btn-primary" id="login" onclick="login()">登录</button></li>
        </ul>
    </div>
</div>
<script>
    function login() {
        var username = $("#username").val();
        var password = $("#password").val();
        if (username==='') { layer.msg('用户名不能为空',{time:2000}); return false;}
        if (password==='') { layer.msg('密码不能为空',{time:2000}); return false;}
        $.post("/admin/Index/doLogin",{username:username, password:password},function (result) {
            layer.msg(result.msg,{time:1000});
            if(result.code===1) setTimeout(function(){
                window.location.href=result.url;
            },1000);
        },"json");
    }
</script>
</body>
</html>