<html >
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>头部</title>
<link rel="stylesheet" type="text/css" href="__STATIC__/admin/css/reset.css"/>
<link rel="stylesheet" type="text/css" href="__STATIC__/admin/css/common.css"/>
</head>

<body>
<div class="head clearfix">
	<div class="logo">
    	<a>后台管理中心</a>
    </div>
    <div class="admin">
    	<p>欢迎您，{$name}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="{:url('admin/Index/loginout')}" target="_top">注销</a></p>
    </div>
</div>
</body>
</html>
