{include file="public/head" /}
<title>修改密码</title>
</head>
<body>
<div id="right_ctn">
    <div class="right_m">
        <div class="hy_list">
            <div class="box_t">
                <span class="name">修改密码</span>
                <!--当前位置-->
                <div class="position">
                    <a href="{:url('admin/Index/Index')}" target="_top"><img src="__STATIC__/admin/images/icon5.png"
                                                                             alt=""/></a>
                    <a href="{:url('admin/Index/Index')}" target="_top">首页</a>
                    <span><img src="__STATIC__/admin/images/icon3.png" alt=""/></span>
                    <a href="{:url('admin/ChangePasswordController/Index')}">修改密码</a>
                </div>
                <!--当前位置-->
            </div>
            <div class="space_hx">&nbsp;</div>
            <div class="xjhy" style="padding:10px 0;height: 370px">
                <div class="tabBox_t">
                    <div class="tabBox">
                        <div class="col-md-5">
                            <form action="{:url('admin/changePasswordController/changePost')}" id="form" method="post">
                            <div class="form-group">
                                <label for="username">用户名</label>
                                <input type="text" name="username" id="username" class="form-control">
                            </div>
                            <div class="form-group">
                                <label for="passwordOld">旧密码</label>
                                <input type="password" name="passwordOld" id="passwordOld" class="form-control">
                            </div>
                            <div class="form-group">
                                <label for="passwordNew">新密码</label>
                                <input type="password" name="passwordNew" id="passwordNew" class="form-control">
                            </div>
                            <div class="form-group">
                                <label for="passwordNewAgain">新密码确认</label>
                                <input type="password" name="passwordNewAgain" id="passwordNewAgain" class="form-control">
                            </div>
                            <a class="btn btn-primary ajax-submit">保存</a>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="__STATIC__/js/ajax-form.js"></script>
</body>
</html>
