{include file="public/head" /}
<title>修改密码</title>
</head>
<body>
<div id="right_ctn">
    <div class="right_m">
        <div class="hy_list">
            <div class="box_t">
                <span class="name">修改密码</span>
                <!--当前位置-->
                <div class="position">
                    <a href="{:url('admin/Index/Index')}" target="_top"><img src="__STATIC__/admin/images/icon5.png"
                                                                             alt=""/></a>
                    <a href="{:url('admin/Index/Index')}" target="_top">首页</a>
                    <span><img src="__STATIC__/admin/images/icon3.png" alt=""/></span>
                    <a href="{:url('admin/ChangePasswordController/Index')}">修改密码</a>
                </div>
                <!--当前位置-->
            </div>
            <div class="space_hx">&nbsp;</div>
            <div class="xjhy" style="padding:10px 0;height: 370px">
                <div class="tabBox_t">
                    <div class="tabBox">
                        <div class="col-md-5">
                            <div class="form-group">
                                <label for="username">用户名：</label>
                                <input type="text" id="username" class="form-control">
                            </div>
                            <div class="form-group">
                                <label for="passwordOld">旧密码：</label>
                                <input type="password" id="passwordOld" class="form-control">
                            </div>
                            <div class="form-group">
                                <label for="passwordNew">新密码：</label>
                                <input type="password" id="passwordNew" class="form-control">
                            </div>
                            <div class="form-group">
                                <label for="passwordNewAgain">新密码确认：</label>
                                <input type="password" id="passwordNewAgain" class="form-control">
                            </div>
                            <button class="btn btn-primary" type="submit" onclick="pwdEdit()">保存</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    //修改密码ajax
    function pwdEdit() {
        var username = $("#username").val();
        var passwordOld = $("#passwordOld").val();
        var passwordNew = $("#passwordNew").val();
        var passwordNewAgain = $("#passwordNewAgain").val();
        if (username==='') { layer.msg('用户名不能为空',{time:2000}); return false;}
        if (passwordOld==='') { layer.msg('旧密码不能为空',{time:2000}); return false;}
        if (passwordNew==='') { layer.msg('新密码不能为空',{time:2000}); return false;}
        if (passwordNewAgain==='')  { layer.msg('请再次输入新密码',{time:2000}); return false;}
        $.post("/admin/change_password_controller/changePost",{
            username:username,
            passwordOld:passwordOld,
            passwordNew:passwordNew,
            passwordNewAgain:passwordNewAgain
        },function (result) {
            layer.msg(result.msg,{time:1000});
            if(result.code===1) setTimeout(function(){
                window.location.href=result.url;
            },1500);
        },"json");
    }
</script>
</body>
</html>
