<!doctype html>
<html class="no-js">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="icon" type="image/png" href="__STATIC__/images/icon.png">
    <link rel="stylesheet" href="__STATIC__/assets/css/amazeui.css">
    <link rel="stylesheet" href="__STATIC__/css/public.css">
    <link rel="stylesheet" href="__STATIC__/assets/datetimepicker/css/amazeui.datetimepicker.css"/>
    <link rel="stylesheet" href="__STATIC__/css/pagination.css">
     <link rel="stylesheet" href="__STATIC__/fonts/font-awesome/css/font-awesome.min.css">
    <script src="__STATIC__/js/jquery-1.11.3.js"></script>
    <script src="__STATIC__/assets/js/amazeui.min.js"></script>
   
    <script src="__STATIC__/assets/datetimepicker/js/amazeui.datetimepicker.min.js"></script>
    <script src="__STATIC__/assets/datetimepicker/js/locales/amazeui.datetimepicker.zh-CN.js" charset="UTF-8"></script>
    <script src="__STATIC__/admin/layer/layer.js"></script>